doctype html
html(lang="en")
    head

    body
        h1 Hello World!
        p You did it, congratulations!
        p updating ... what now?
        script(type='text/javascript' src='/reload/reload.js')
